{% extends '@StewieWiki/default/layout.html.twig' %}
{% trans_default_domain 'StewieWikiBundle' %}

{% block filterBlock %}{% endblock filterBlock %}
{% block menuBlock %}{% endblock menuBlock %}

{% block pageTitle %}{% endblock pageTitle %}
{% block pageMenu %}{% endblock pageMenu %}

{% block main %}
  <div class="container-fluid" id="main">

    <div class="row justify-content-center">

        <div class="card mx-auto" style="width: 24rem;">
          <h5 class="card-header text-white bg-danger">{{ 'header.card.danger'|trans }}</h5>
          <div class="card-body">
            <h5 class="card-title"><small class="text-muted">{{ mutedTitle }}</small> {{ title }}</h5>
            <p class="card-text">{{ text }}</p>

            <div class="row justify-content-md-center">
              <div class="col col-lg-3 text-center">
                <!-- cancel -->
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-secondary" role="button">{{ 'label.cancel'|trans }}</a>
              </div>
              <div class="col-md-auto">
                <br>
              </div>
              <div class="col col-lg-3 text-center">
                <!-- delete -->
                  {{ form_start(form) }}
                  {{ form_widget(form.submit) }}
                  {{ form_end(form) }}
              </div>
            </div>

          </div>
        </div>
    </div><!-- row -->

  </div><!-- main -->
{% endblock main %}
