{% extends '@StewieWiki/default/layout.html.twig' %}
{% trans_default_domain 'StewieWikiBundle' %}

{% block filterBlock %}{% endblock filterBlock %}

{% block pageTitle %}<small class="text-muted">{{ 'header.space.edit'|trans }}</small> {{ space.name }}{% endblock pageTitle %}
{% block pageMenu %}
{{ form_start(form) }}
    {{ form_widget(form.submit) }}
{% endblock pageMenu %}

{% block content %}

<!-- tab bar -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('stewie_wiki_space_edit_detail', {'slug': space.slug}) }}">{{ 'label.details'|trans }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('stewie_wiki_space_edit_user', {'slug': space.slug}) }}">{{ 'label.users'|trans }}  <span class="badge badge-primary">{{space.user|length}}</a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">{{ 'label.groups'|trans }} <span class="badge badge-primary">{{space.group|length}}</span></a>
        </li>
    </ul>

<br>

<!-- actual form -->

    <div class="form-group row">
      <div class="col-sm-2 col-form-label">
        <strong>{{ form_label(form.group) }}</strong>
      </div>
      <div class="col-sm-10">
        {{ form_errors(form.group) }}
        {{ form_widget(form.group) }}
      </div>
    </div>


{{ form_end(form) }}
{% endblock content %}
