{% extends '@StewieWiki/default/layout.html.twig' %}
{% trans_default_domain 'StewieWikiBundle' %}

{% block filterBlock %}{% endblock filterBlock %}

{% block pageTitle %}<small class="text-muted">{{ 'header.space.view'|trans }}</small> {{ space.name }}{% endblock pageTitle %}
{% block pageMenu %}{% endblock pageMenu %}

{% block content %}

<!-- tab bar -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('stewie_wiki_space_view_detail', {'slug': space.slug}) }}">{{ 'label.details'|trans }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">{{ 'label.users'|trans }} <span class="badge badge-primary">{{space.user|length}}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('stewie_wiki_space_view_group', {'slug': space.slug}) }}">{{ 'label.groups'|trans }} <span class="badge badge-primary">{{space.group|length}}</a>
      </li>
    </ul>

<br>
<!-- actual table -->

<table class="table table-striped">
<thead> <tr>
  <th>{{ knp_pagination_sortable(userList, '#', 'u.id') }}</th>
  <th>{{ knp_pagination_sortable(userList, 'label.username'|trans, 'u.username') }}
    {% if userList.isSorted('u.username') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ knp_pagination_sortable(userList, 'label.realName'|trans, ['u.firstName', 'u.lastName']) }}
    {% if userList.isSorted('u.firstName+u.lastName') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
  <th>{{ knp_pagination_sortable(userList, 'label.email'|trans, 'u.email') }}
    {% if userList.isSorted('u.email') %}<i class="fas fa-sort" aria-hidden="true"></i>{% endif %}
  </th>
</tr> </thead>
{% for item in userList %}
<tr>
  <td>{{ item.id }}
    {% if vich_uploader_asset(item, 'avatarFile') %}
      <img src="{{ vich_uploader_asset(item, 'avatarFile') | imagine_filter('stewie_user_thumb_filter') }}" alt="{{ 'label.avatar'|trans }}" />
    {% endif %}
  </td>
  <td>{{ item.username }}</td>
  <td>{{ item.firstName }} {{ item.lastName }}</td>
  <td>{{ item.email }}</td>
</tr>
{% endfor %}
</table>
{# display navigation #}
      {{ knp_pagination_render(userList) }}

{% endblock content %}
